.Car {
    margin: 10px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
    transition: border, box-shadow .3s;
    cursor: pointer;
}

.Car:hover {
    border: 1px solid #aaa;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .25);
}


.input{}
.input:active{
    outline: none;
}
.input.green{
    border: 1px solid green;
}
.input.red{
    border: 1px solid red;
}
.input.bold{
    border: 2px solid green;
    font-weight: bold;
}