.AppButton{
  padding: 8px 10px;
  border: 1px solid #cccccc;
  font-weight: bold;
  background: blanchedalmond;
  text-transform: uppercase;
  transition: all .3s;
  &:focus,
  &:active {
    outline: none;
  }
  &:hover{
    background: #fff435;
  }
}